@inherits LayoutComponentBase

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <span href="#" class="navbar-brand mb-0 h1">TURP Blocks Calculator</span>
    </div>
</nav>

<main class="container mt-3">
    @Body
</main>

